<script>
    import { dates, places } from "../../../variables.json";
</script>


<section class="content">
    <div class="is-flex is-justify-content-center">
        <img class="is-3by2 w10pc" src="/install-party.webp" alt="Install Party">
    </div> 

    <h1>Install Party</h1>

    <p><b>Prochaine date :</b> {dates.install_party}</p>

    <p><b>Localisation : </b> {places.install_party}</p>

    <p>Une fois par quadri, nous vous proposons, pendant tout une après-midi de venir avec votre ordinateur pour vous installer <a href="https://fr.wikipedia.org/wiki/Linux_Mint"> Linux Mint </a>(une distribution Linux) dans une ambiance conviviale.</p>

    <h2>Information pratiques:</h2>

    <p>L'installation dure 30-45 minutes (éventuellement plus s'il y a des problèmes). Prévois donc du temps !</p>

    <p>Nous <strong>ne</strong> faisons <strong>pas</strong> les installations d'Ubuntu sur <strong>Mac OS</strong> en <strong><a href="https://fr.wikipedia.org/wiki/Multiboot">Dual-Boot</a></strong> !!! (mais nous pouvons vous installer une <a href="https://fr.wikipedia.org/wiki/Machine_virtuelle">Machine Virtuelle</a>).</p>

    <p>PS : pour gagner du temps, pense à :</p>

    <ul>
        <li>prends ton chargeur</li>
        <li>libères un minimum de 50Go d'espace disque</li>
        <li>sauvegardes les données importantes qui sont sur ton ordinateur (sur un drive ou sur une disque externe)</li>
        <li>si tu es sous Windows 7, défragmentes ton disque dur (HDD uniquement) : <a href="https://support.microsoft.com/fr-be/help/17126/windows-7-improve-performance-defragmenting-hard-disk">voici comment faire</a>.</li>
        <li>si tu t'en sens capable, tu peux vérifier si Bitlocker est présent sur ton PC, et si oui, désactives-le : <a href="https://fr.wikihow.com/d%C3%A9sactiver-BitLocker">voici comment faire</a>. (<strong>Nous le ferons pour toi si tu n'y arrives pas</strong> mais ça prendra plus de temps).</li>
    </ul>
</section>

<style>
</style>
