<script>
    import { dates, places } from "../../../variables.json";
</script>


<section class="content">
<img class="space-week-image" src="/space-week-header.webp" alt="Install Party">
    
    <h1>Space Week</h1>

    <p><b>Prochaine date :</b> {dates.space_week}</p>

    <p><b>Localisation : </b> {places.space_week}</p>

</section>

<style>
    .space-week-image{
        width:100%;
    }
</style>
