<section class="content">

    <div class="is-flex is-justify-content-center">
        <img class="is-3by2 w50pc" src="/location.webp" alt="Location informatique">
    </div>

    <h1>Locations informatique</h1>
    <p>Ici vous pouvez trouvez la liste du matériel que nous possèdons. Nous vous le louons pour un prix dérisoir, dans
        l'ordre de deux euros par jour dans le cas des ordinateurs. Nous ne pouvons pas être plus précis dans les prix
        car nous les adaptons au cas par cas. N'hésité pas à nous contacter pour obtenir de plus amples informations aux
        sujets des équipements mis ci-dessous, et obtenir le prix de la location !</p>
    <p>Ci-dessous, vous pourrez retrouver la liste du matériel en notre possession :</p>
    <ul>
        <li>Des Micros de divers types + des filtres</li>
        <li>De la connectique audio</li>
        <li>Un lecteur de disque externe</li>
        <li>Des claviers USB pour ordinateurs.</li>
        <li>Des écrans d'ordinateurs.</li>
        <li>Connectiques réseaux (ethernet) : des switchs, des câbles et un routeur</li>
        <li>Un Module SMS</li>
        <li>Des PC portables et des tours.</li>
        <li>Divers connectiques et adaptateurs de connection pour pc;</li>
    </ul>
</section>

<style>
    .w50pc {
        width: 50%;
    }
</style>
