<script lang="ts">
	import '../app.scss';
	import Navbar from "$lib/components/navbar.svelte";
	import Footer from '$lib/components/footer.svelte';
</script>


<Navbar></Navbar>

<div class="my-6">
	<slot />
</div>

<Footer></Footer>
