<script>
    import ActivityCard from "$lib/components/activity-card.svelte";

    import { dates } from "../variables.json";
</script>


<div class="container">
    <section class="section has-text-centered is-flex is-align-items-center">
        <div class="w100pc pr-4">
            <h1 class="title">Louvain-li-Nux, Kot-à-projet sur la promotion du Libre</h1>
            <p class="subtitle">
                Le Louvain-li-Nux a pour projet de défendre et de promouvoir les valeurs du <a href="https://fr.wikipedia.org/wiki/Logiciel_libre"> logiciel libre</a> à travers la communauté estudiantine, citadine et académique de Louvain-la-Neuve.
                Pour ce faire, nous organisons de nombreuses activités permettant aux participants de se rencontrer et d'échanger autour de l'informatique, tout en découvrant une pléthore d'outils libres.
            </p>
        </div>

        <div class="w100pc">
            <img class="is-3by2" src="members.webp" alt="Membres du Louvain-Li-Nux"/>
        </div>
    </section>

    <hr class="divider has-background-primary"/>
    
    <section class="section">
        <h1 class="title has-text-centered">Activités</h1>
    
        <div class="columns">
            <ul class="column">
                <!--Les activité sont triées par ordre chronologique croissant dans l'année-->
                <!--Todo : Change headers-->
                <li>
                    <ActivityCard title="Install party" imagePath="/install-party.webp" href="activites/install-party">
                        Tu as toujours rêvé d'installer Linux sur ton PC ? Tu en as besoin pour tes cours ? Tu n'oses pas le faire tout seul ? 
                        Inutile d'attendre, viens nous voir à une de nos deux install party de l'année et nous t'aiderons à l'installer avec 
                        plaisir !
                        <br><b>Prochaine date :</b> {dates.install_party}
                    </ActivityCard>
                </li>
                <li>
                    <ActivityCard title="Space Week" imagePath="/space-week.webp" href="activites/space-week">
                        <!--ADD ABSTRACT-->
                        <br><b>Prochaine date :</b> {dates.space_week}
                    </ActivityCard>
                    
                </li>
                <li>
                    <ActivityCard title="24 heures vélo" imagePath="/24-heures-logo.webp" href="activites/24-heures">
                        Pendant les <a href="https://24heureslln.be/">24h vélo de Louvain-la-Neuve</a>, organisée par le CSE Animation, vous 
                        aurez l'occasion de voir passer notre maginifique vélo folklorique. N'hésitez pas à voter pour nous ou à nous encourager pendant notre bar !
                        <br><b>Prochaine date :</b> Mardi-Mercredi S6 (22 et 23 octobre 2024)
                    </ActivityCard>
                    
                </li>
                <li>
                    <ActivityCard title="Space Day" imagePath="/space-day.webp" href="activites/space-day">
                        Le Space Day c'est une activité du <a href="https://www.kotastro.be/">Kot Astro</a> organisée pedant le printement des 
                        sciences. Le Louvain-li-Nux y participe pour y présenter différentes thématique autour de l'informatique spatiale.
                        <br><b>Prochaine date :</b> {dates.space_day}
                    </ActivityCard>
                </li>
                <li>
                    <ActivityCard title="Game Jam" imagePath="/game-jam.webp" href="activites/game-jam">
                        La Game Jam c'est un weekend durant lequel les participants doivent créer un jeu vidéo en équipe. C'est l'occasion de se
                         lancer dans un projet de jeu vidéo, de rencontrer des gens passionnés par le jeu vidéo et de s'amuser !
                        <br><b>Prochaine date :</b> {dates.game_jam}
                    </ActivityCard>
                </li>
            </ul>
            <ul class="column">
                <li>
                    <ActivityCard title="Atelier LaTeX" imagePath="/atelier-latex-cropped.webp" href="activites/atelier-latex">
                        Nous organisons chaque début de quadrimestre un atelier d'initiation à LaTeX. Cet outil de traitement de texte 
                        est très puissant et te permettra de réaliser des documents de qualité professionnelle. En deux heures d'atelier 
                        tu auras toutes les bases !
                        <br><b>Prochaine date :</b> {dates.atelier_latex}
                    </ActivityCard>
                </li>
                <li>
                    <ActivityCard title="Atelier Git" imagePath="/atelier-git-cropped.webp" href="activites/atelier-git">
                        Nous organisons chaque début de quadrimestre un atelier d'initiation à Git. Cet outil de gestion de version est très utile 
                        pour travailler en groupe sur un projet. Que tu sois débutant ou que tu veuilles approfondir tes connaissances, tu es le 
                        bienvenu !
                        <br><b>Prochaine date :</b> {dates.atelier_git}
                    </ActivityCard>
                   
                </li>
                <li>
                    <ActivityCard title="Geek Party" imagePath="/geek-party.webp" href="activites/geek-party">
                        La geek party est une soirée organisée par le Louvain-li-Nux dans les auditoire en colaboration avec le KDG. Elle a pour 
                        but de réunir les étudiants autour de jeux vidéos, de jeux de société et bien d'autre. C'est l'occasion de rencontrer des 
                        gens et de s'amuser !
                        <br><b>Prochaine date :</b> {dates.geek_party}
                    </ActivityCard>
                </li>
                <li>
                    <ActivityCard title="KARWa" imagePath="/karwa.webp" href="activites/karwa">
                        Le KARWa c'est une compétition d'algoritmique organisée par le Louvain-li-Nux en collaboration avec l'UCLouvain et l'UMons. 
                        C'est l'occasion de progresser en algoritmique et de rencontrer des gens passionnés par l'informatique.
                        <br><b>Prochaine date :</b> {dates.karwa}
                    </ActivityCard>
                </li>
            </ul>
        </div>
    </section>

    
    <section class="section">
        <h1 class="title has-text-centered">Services</h1>
    
        <div class="columns">
            <ul class="column">
                <li>
                    <ActivityCard title="Permanences informatiques" imagePath="/permanences.webp" href="services/permanences">
                        Nous organisons tous les lundis de <b>18h30</b> à <b>20h</b> des permanences informatique à notre kot. Ces permanences 
                        ont pour but de vous aider si vous rencontrez un problème informatique.
                        <br><b>Période :</b> tous les lundis de l'année académique de 18h30 à 20h.
                    </ActivityCard>
                    <ActivityCard title="Hébergement web" imagePath="/hosting.webp" href="services/hebergement">
                        Nous proposons un service d'hébergement web pour les kots à projet au prix de 5€/an. Si vous voulez héberger le site web
                        de votre kap chez nous n'hésitez pas à nous contacter.
                        <br><b>Période :</b> toute l'année académique.
                    </ActivityCard>
                </li>
            </ul>
            <ul class="column">
                <li>
                    <ActivityCard title="Location informatique" imagePath="/location.webp" href="services/location-informatique">
                        Nous louons toute sorte de matériel informatique. Que ce soit pour dépanner un ordinateur en panne, pour une activité 
                        de kap, pour un projet de cours, ... Nous avons ce qu'il vous faut !
                        <br><b>Période :</b> toute l'année académique (sur rendez-vous et selon disponibilité).
                    </ActivityCard>
                </li>
            </ul>
        </div>
    </section>
</div>

<style>
    .w100pc {
        width: 100%;
    }
    /* 
    This special section was created as a subclass of the "section class="section". If you need to only display one card and center it, 
    you can create a table with this section class ::

    .section-class{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    */
</style>
