<script>
    import { dates, places } from "../../../variables.json";
</script>


<section class="content">
<!-- 
    <div class="is-flex is-justify-content-center">
        <img class="is-3by2 w50pc" src="/space-day.webp" alt="Space Day">
    </div> -->

    <h1>Space Day</h1>

    <p><b>Prochaine date :</b> {dates.space_day}</p>

    <p><b>Localisation : </b> {places.space_day}</p>

    <p>Le Space Day c'est une activité du <a href="https://www.kotastro.be/">Kot Astro</a> organisée pedant le printement
         des sciences. Le Louvain-li-Nux y participe pour y présenter différentes thématique autour de l'informatique spatiale.</p>
</section>

<style>

</style>
