<script>
    import { dates, places } from "../../../variables.json";
</script>


<section class="content">

    <!-- <div class="is-flex is-justify-content-center">
        <img class="is-3by2 w50pc" src="/game-jam.webp" alt="Atelier Gimp">
    </div> -->

    <h1>Game Jam</h1>

    <p><b>Prochaine date : </b>{dates.game_jam}</p>

    <p><b>Localisation : </b> {places.game_jam}</p>

    <p>Vous avez toujours rêvé de créer un vrai programme de taille et pas des simples "Hello World"? Vous vous demandez
        comment contribuer à un projet libre ? Que vous soyez déjà un expert en développement de jeux ou un simple
        amateur de programmation, la Game Jam est la meilleure occasion de mettre en exergue votre créativité et votre
        talent informatique.</p>
    <p>Le concept: 24 heures pour créer un jeu par groupe en Python. Votre jeu sera jugé sur plusieurs critères, et
        l'équipe gagnante repart avec une récompense (des micro-ordinateurs semblables à une Raspberry Pi)!</p>
    <h2>Information pratiques:</h2>
    <ul>
        <li>Notre Game Jam se déroule aux salles informatiques de l'UCLouvain.</li>
        <li>Un repas payant peut être proposé pour ceux qui le souhaitent.</li>
        <li>Vous êtes libre de choisir le language que vous voulez mais nous vous conseillons d'utiliser Python3 pour
            créer votre jeu. De nombreux modules existent pour en créer facilement: Pygame, pyglet ou encore Panda3D si
            vous vous chauffez vraiment!
        </li>
        <li>Par soucis d’organisation, chaque participant devra créer un compte sur Github si ce n’est pas déjà fait. Il
            est plus simple pour nous si vous venez avec votre ordinateur portable, avec un éditeur de texte, et une
            idée du language de programmation que vous allez utiliser.
        </li>
        <li>La participation est gratuite, mais nous limitons le nombre d’inscriptions afin de préserver la qualité de
            l’activité.
        </li>
    </ul>

</section>

<style>

</style>
