<script>
    import { dates, places } from "../../../variables.json";
</script>


<section class="content">

    <div class="is-flex is-justify-content-center">
        <img class="imagegit" src="/atelier-git.webp" alt="Atelier Git">
</div>

    <h1>Atelier Git</h1>
    
    <p><b>Prochaine date : </b>{dates.atelier_git}</p>

    <p><b>Localisation : </b>{places.atelier_git}</p>

    <p><a href="https://fr.wikipedia.org/wiki/Git">Git</a> est un outil de collaboration. Il a pour objectif de
        faciliter la collaboration sur des projets, tout comme Google Drive. A la différence de ce dernier, Git propose
        des options plus avancées qu’un simple système de partage de fichier. Comme par exemple, un système de gestion
        de version&nbsp;permettant de revenir à des versions antérieures si des parties du projet ont été perdues. Ou
        encore une flexibilité par rapport au type de fichier échangé. Sans oublier que Git permet de travailler dans
        son environnement local et donc d’éditer avec les outils présent sur votre ordinateur lorsque vous n'êtes pas 
        connectés à internet.</p>
    <p>Git est donc un outil de partage puissant disponible sur toutes les plateformes telle-que Windows, Mac-Os et
        Linux.</p>
    <p>Comme certains pourraient se le demander, il n’est pas obligatoire de savoir manipuler le terminal. En effet,
        grâce à différents environnements graphiques (libres ou non) créés par la communauté, il est possible d’utiliser
        Git via une application. Comme nous le faisons lors de notre atelier avec <a href="https://desktop.github.com/">GitHub
            Desktop</a>.</p>
    <h2>Information pratiques:</h2>
    <ul>
        <li>L’atelier est organisé dans les salles informatiques de l’UCL, vous pouvez donc utiliser les ordinateurs de
            ces salles si vous possédez un identifiant UCL. Dans le cas contraire, veuillez amener un ordinateur. Si
            jamais vous ne pouvez <strong>vraiment pas</strong> apporter d'ordinateur, contactez-nous directement, nous
            chercherons une solution ensemble.
        </li>
        <li>La participation est gratuite, mais pour des questions d’organisation l’inscription est obligatoire (vous
            pouvez vous désinscrire à tout moment en nous envoyant un mail).
        </li>
        <li>Les dates des ateliers sont annoncées en général trois semaines avant l’activité.</li>
    </ul>
    <p>Si vous
        voulez apprendre Git et que vous ne souhaitez pas attendre le prochain atelier, vous pouvez suivre des tutoriels
        ou
        lire des ebooks sur le web, comme <a href="https://git-scm.com/book/en/v2">celui-ci</a> en ligne de commande, ou
        <a
                href="https://programminghistorian.org/lessons/getting-started-with-github-desktop">celui-ci</a> pour
        GitHub
        Desktop. En général, énormément de ressources sur Git sont disponibles en ligne, et si jamais vous avez une
        question
        ou un problème particulier, n’hésitez pas à passer à une de nos <a href="/services/permanences">permanences
            informatiques</a>.
    </p>

</section>
<style>
    .imagegit{
        width : 80%;
    }
</style>