<section class="content">

    <div class="is-flex is-justify-content-center">
        <img class="is-3by2 w50pc" src="/permanences.webp" alt="Ubuntu">
    </div>

    <h1>Permanences informatique</h1>
    <p>Nous organisons tous les lundis (pendant les semaines de cours) de <b>18h30</b> à <b>20h</b> des permanences
        informatique à notre kot. Ces permanences ont pour but de vous aider si vous rencontrez un problème informatique.
        Nous préférons si c'est un problème lié à un logiciel libre (Linux , LaTeX...), mais nous serons ravis de vous aider
        pour tous les autres problèmes, dans la mesure de nos capacités bien évidemment. 😄 Nous faisons
        aussi des installations Linux pendant la permanence. 💻 
    </p>

    <ul>
        <li><strong>Lieu</strong> : Rue Constantin Meunier 12, 1348 Louvain-la-Neuve</li>
        <li><strong>Quand</strong> : Chaque lundi entre 18h30 et 20h, durant les semaines de cours.</li>
        <li><strong>Quoi</strong> : Assistance informatique, installation de Linux, conseils en logiciels libres.</li>
    </ul>
</section>

<style>
    .w50pc {
        width: 50%;
    }
</style>
