 <section class="content">
    <h1>Membres du KAP</h1>
    <p>Cette année l'équipe du Louvain-li-Nux est fière de compter 13 membres (9 internes et 4 externes):</p>
    <ul>
        <li><b>Présidente</b> Aylin Defoy</li>
        <li><b>Vice-présidente</b> Pierre-Yves Haubruge</li>
        <li><b>Trésorier</b> Alexis Englebert</li>
        <li><b>Membre</b> Nicolas Jeanmenne </li>
        <li><b>Membre</b> Owen Schrondweiler</li>
        <li><b>Membre</b>  Pedro Da Silva</li>
        <li><b>Membre</b>  Theo Daron </li>
        <li><b>Membre</b> Aditia Chugh</li>
        <li><b>Membre</b>  Lily Ehlers </li>
        <li><b>Membre</b> Mathis Hanen</li>
        <li><b>Membre</b> Victor Fairon</li>
        <li><b>Membre</b>  Alessandro Giansante</li>
        <li><b>Membre</b>  Emilie Piret</li>

    </ul>

    <img class="is-3by2" src="/members.webp" alt="Membres du Louvain-Li-Nux"/>
</section>
