<script>
    import { dates, places } from "../../../variables.json";
</script>


<section class="content">

    <!-- <div class="is-flex is-justify-content-center">
        <img class="is-3by2 w50pc" src="/karwa-banner.webp" alt="KARWA">
    </div> -->

    <h1>KARWa</h1>

    <p><b>Prochaine date :</b> {dates.karwa}</p>

    <p><b>Localisation : </b> {places.karwa}</p>

    <p>Le KARWA c'est une compétition d'algoritmique organisée par le Louvain-li-Nux en collaboration avec l'UCLouvain 
        et l'Umons. C'est l'occasion de preogressez en algoritmique et de rencontrer des gens passionnés par l'informatique.</p>
</section>

<style>
</style>
