<script>
    import { dates, places } from "../../../variables.json";
</script>


<section class="content">

    <!-- <div class="is-flex is-justify-content-center">
        <img class="is-2by3 h30vw" src="/geek-party.webp" alt="Geek Party">
    </div> -->


    <h1>Geek Party</h1>

    <p><b>Prochaine date : </b>{dates.geek_party}</p>

    <p><b>Localisation : </b> {places.geek_party}</p>

    <p>Comme chaque année, nous sommes fiers de vous proposer cette soirée à thème portant sur l'univers geek, qui sera
        organisée en partenariat avec le <strong>Kot du Grenier</strong>! Au programme pour cette fois : une série de
        LAN (Local Access Network : partie multijoueur sans utiliser internet) dans notre commu, sur plusieurs jeux
        mythiques tels que Age of Empire 2 HD, Age of Mythology, Xonotic (pour les joueurs de FPS) ou Teeworld (pour les
        adorateurs de Fighting Game). De plus, nous avons aussi tout un ensemble de jeux de société qui s'organiseront
        un peu partout dans notre Kot, ainsi qu'une Wii possédant un ensemble de jeu dont le grand classique qu'est Just
        Dance! Si jamais vous n'êtes pas trop jeux, et que vous préférez juste vous poser pour regarder une série, nous
        organisons des projections de différentes séries (Rick et Morty pour n'en citer qu'une) sur grand écran !</p>
    <p>De son côté, le <strong>Kot du Grenier</strong> vous propose de vous initier aux jeux de rôle sur table au
        travers de plusieurs parties rapides. Cette année, ils mettront aussi à votre disposition une escape-room, et
        une chambre proposant un ensemble de jeux vidéos récents.</p>
    <p>Pour les plus gourmands d'entre vous (ou juste ceux qui auraient une petite fringalle), il y aura des
        pizzas-baguettes et des hot-dogs mis à disposition !</p>
    <h2>Information pratiques:</h2>
    <p>Les quelques modalités à savoir pour participer à cette activitée sont les suivantes :</p>
    <ul>
        <li>La participation est <strong>entièrement gratuite</strong>, et tout l'équipement sera mis sur place à votre
            disposition !
        </li>
        <li>Des pizzas-baguettes et des hot-dogs seront disponibles à un prix plus que démocratique !</li>
        <li>Pas besoin d'être un expert en jeux pour participer, il n'y a pas de compétitions de prévues, juste du fun à
            gogo !
        </li>
        <li>Si vous avez encore des questions, n'hésitez pas à nous contacter via notre page facebook ou notre adresse
            mail !
        </li>
    </ul>
    <p></p>

</section>

<style>
</style>
