<script>
    import { dates, places } from "../../../variables.json";
</script>


<section class="content">

<div class="is-flex is-justify-content-center">
        <img class="is-3by2 w100pc" src="/atelier-latex.webp" alt="Install Party">
</div>


    <h1>Atelier LaTeX</h1>

    <p><b>Prochaine date : </b>{dates.atelier_latex}</p>
    <p><b>Localisation : </b> {places.atelier_latex}</p>


    <p>
        <a href="https://fr.wikipedia.org/wiki/LaTeX">LaTeX</a> est un système d'édition de documents.
        Son objectif final est proche de celui de Microsoft Word ou LibreOffice Writer: écrire et mettre en page des documents (articles, rapports, lettres, livres, etc.), mais son principe de fonctionnement est différent: on utilise des instructions sous forme de texte pour indiquer la structure du document et la mise en page est faite automatiquement !</p><p>LaTeX est donc un outil très puissant, qui permet d'écrire des documents (petits ou grands) avec une mise en page quasi-professionnelle avec très peu de travail, ce qui laisse les auteurs se concentrer sur l'écriture du contenu plutôt que sur la forme.
    </p>

    <p>
        Comme LaTeX utilise un paradigme fort différent de beaucoup d'autres logiciels concurents, il peut sembler difficile d'accès.
        Avec notre atelier LaTeX, nous entendons démontrer le contraire: en deux heures, vous aurez composé un document simple, mais comprenant les éléments essentiels de la majorité des documents: chapitres, sections, paragraphes, page de garde, table des matières, figures, tableaux, notes de bas de page, bibliographie, mathématiques, etc.
    </p>

    <h2>Informations pratiques:</h2>

    <ul>
        <li>L'atelier est organisé dans les salles informatiques de l'UCL, vous pouvez donc utiliser les ordinateurs de ces salles si vous possédez un identifiant UCL. Dans le cas contraire, veuillez amener un ordinateur.</li>
        <li>La participation est gratuite</li>
        <li>Les dates des ateliers sont annoncées en général trois semaines avant l'activité.</li>
    </ul>

    <p>
        Si vous voulez apprendre LaTeX et que vous ne souhaitez pas attendre le prochain atelier, vous pouvez suivre des tutoriels sur le web, comme <a href="https://zestedesavoir.com/tutoriels/826/introduction-a-latex/">celui-ci</a>.
        En général, énormément de ressources sur LaTeX sont disponibles en ligne, et si jamais vous avez une question ou un problème particulier, n'hésitez pas à passer à une de nos <a href="/services/permanences">permanences informatiques</a>.
    </p>

</section>

<style>
</style>
