<section class="content">

    <div class="is-flex is-justify-content-center">
        <img class="is-3by2 w50pc" src="/hosting.webp" alt="Space Day">
    </div>

    <h1>Hébergement web</h1>

    <p>Nous proposons un service d'hébergement web pour les kots à projet au prix de 5€/an. Si vous voulez héberger 
        le site web de votre kap chez nous, n'hésitez pas à <a href="/nous-contacter">nous contacter</a>. En plus 
        de l'hébergement, nous proposons un nom de domaine. Vous avez le choix entre www.votrekap.kapucl.be qui est 
        gratuit ou www.votrekap.be qui est à prix coûtant.
    </p>
</section>

<style>
    .w50pc {
        width: 50%;
    }
</style>
