<section class="content container has-text-centered">
    <h1>Nous contacter</h1>
    <p>N'hésitez pas à nous envoyer un email à l'addresse <a href="mailto:info@louvainlinux.org" title="Notre email">info@louvainlinux.org</a>.
    </p>
    <p>Les informations sur nos évènements sont aussi disponibles sur notre <a
            href="https://www.facebook.com/LouvainliNuxKap/" title="Notre page Facebook">page Facebook</a>.</p>
    <p>Nous avons aussi un serveur <a href="https://fr.wikipedia.org/wiki/Discord_(logiciel)" title="Notre Discord">Discord</a>
        où vous pouvez nous rejoindre en cliquant <a href="https://discord.gg/S2AxqqAnTX">ici</a></p>
    <div class="divider"></div>
    <div class="openstreetmap">
        <iframe title="carte" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.openstreetmap.org/export/embed.html?bbox=4.610266685485841%2C50.66403483645479%2C4.613675773143769%2C50.6655122543618&amp;layer=mapnik&amp;marker=50.66477%2C4.61197"
                style="border: 0" width="800" height="500" frameborder="0"></iframe>
    </div>
</section>

<style>
    .openstreetmap {
        width: 100%;
    }
</style>