<script lang="ts">
    import Aside from "$lib/components/aside.svelte";
</script>

<div class="container">
    <div class="columns">
        <div class="column is-9">
            <slot/>
        </div>
        <div class="column is-3">
            <Aside></Aside>
        </div>
    </div>
</div>