/* Variables and mixins declared here will be available in all other SCSS files */ /* https://github.com/jgthms/bulma/issues/1293 */
$body-overflow-y: auto;

$llnux-orange: #eb9900;
$primary: $llnux-orange;
$link: $llnux-orange;