<script lang="ts">
    export let title: string;
    export let imagePath: string;
    export let href: string;
</script>

<a href="{href}">
<div class="card mb-4">
    <div class="card-image">
      <figure class="image is-3by1">
        <img src="{imagePath}" alt={title} style="object-fit: cover;">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
            <p class="title is-4">{title}</p>
        </div>
        <div class="media-content">
          
        </div>
      </div>
  
      <div class="content">
        <slot></slot>
      </div>
    </div>
  </div>
</a>