<aside class="sticky is-hidden-mobile">
    <h2 class="title">Ressources utiles</h2>
    <ul class="has-text-weight-medium">
        <li><a href="https://wiki.louvainlinux.org/fr/install_linux">Guide d'installation Ubuntu</a></li>
        <li><a href="https://gitlab.com/louvainlinux/atelier-latex/-/raw/master/build_latex/main.pdf">Slides de l'atelier LaTeX</a></li>
        <li><a href="slides.louvainlinux.org">Slides de l'atelier Git</a></li>
        <li><a href="https://gitlab.com/louvainlinux/fiches-info">Fiche infos</a></li>
    </ul>

    <hr class="separator has-background-primary"/>

    <h2 class="title">À propos de nous</h2>
    <p>
        Le Louvain-li-Nux est un kot-à-projet qui a pour projet de défendre et de promouvoir les valeurs du logiciel libre à travers la communauté estudiantine, citadine et académique de Louvain-la-Neuve.
        Pour ce faire, nous organisons de nombreuses activités permettant aux participants de se rencontrer et d'échanger autour de l'informatique, tout en découvrant une pléthore d'outils libres et, bien souvent, gratuits.
    </p>
    <a class="button is-primary is-fullwidth has-text-weight-semibold my-5" href="/nous-contacter">Envoyez-nous un message</a>

    <hr class="separator has-background-primary"/>

    <h2 class="title">Ailleurs sur le web</h2>
    <ul class="has-text-weight-medium">
        <li><a href="http://kapuclouvain.be/">Portail des kots à projet</a></li>
        <li><a href="https://framasoft.org/">Association Framasoft: promotion du libre</a></li>
    </ul>
</aside>

<style>
    .sticky {
        position: sticky;
        display: inline-block;
        vertical-align: top;
        max-height: 100vh;
        overflow-y: auto;
        top: 0;
        bottom: 0;
    }
</style>