<footer class="footer has-background-primary has-text-dark">
    <div class="container has-text-centered">
        <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Adresse</p>
                    <p class="has-text-weight-medium"> <a href = "https://maps.app.goo.gl/crbk9tch6BXp7YWk6" class="has-text-dark">12, Rue Constantin Meunier 1348 Louvain-la-Neuve</a></p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Email</p>
                    <p class="has-text-weight-medium"><a href = "mailto:info@louvainlinux.org" class=has-text-dark>info@louvainlinux.org</a></p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Suivez-nous</p>
                    <ul class="level has-text-weight-medium">
                        <li class="mr-2"><a class="has-text-dark" href="https://www.facebook.com/LouvainliNuxKap"><i
                                class="fa-brands fa-facebook fa-2xl"></i></a></li>
                        <li class="mx-2"><a class="has-text-dark" href="https://gitlab.com/louvainlinux"><i class="fa-brands fa-gitlab fa-2xl"></i></a></li>
                        <li class="mx-2"><a class="has-text-dark" href="https://discord.gg/S2AxqqAnTX"><i class="fa-brands fa-discord fa-2xl"></i></a></li>
                        <li class="ml-2"><a class="has-text-dark" href="https://instagram.com/louvainlinux"><i class="fa-brands fa-instagram fa-2xl"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</footer>