<script>
    let isActive = false;
</script>

<nav class="navbar" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/tux_llnux.webp" alt="" width="25" height="35">
                <h1 class="ml-2 is-size-4 has-text-weight-semibold">Louvain-Li-Nux</h1>
            </a>
        
            <button class="navbar-burger" class:is-active={isActive} on:click={() => isActive = !isActive} aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </button>
        </div>
    
        <div class="navbar-menu" class:is-active={isActive}>
            <div class="navbar-start">
                
            </div>
    
            <div class="navbar-end">
                <a class="navbar-item has-text-weight-semibold is-uppercase" href="/">
                    Accueil
                </a>
        
                <div class="navbar-item has-dropdown is-hoverable has-text-weight-semibold">
                    <span class="navbar-link is-arrowless is-uppercase">
                        Le projet
                    </span>
            
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/projet/a-propos">
                            Qui sommes-nous
                        </a>
                        <a class="navbar-item" href="/projet/membres">
                            Membres
                        </a>
                        <a class="navbar-item" href="/projet/faq">
                            Foire aux questions
                        </a>
                        <a class="navbar-item" href="/projet/fiches-info">
                            Fiches d'information
                        </a>
                    </div>
                </div>
    
                <div class="navbar-item has-dropdown is-hoverable has-text-weight-semibold">
                    <span class="navbar-link is-arrowless is-uppercase">
                        Activités
                    </span>
            
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="../../activites/install-party">
                            Install Party
                        </a>
                        <a class="navbar-item" href="../../activites/atelier-latex">
                            Atelier LaTeX
                        </a>
                        <a class="navbar-item" href="../../activites/atelier-git">
                            Atelier Git
                        </a>
                        <a class="navbar-item" href="../../activites/24-heures">
                            24 heures vélo
                        </a>
                        <a class="navbar-item" href="../../activites/geek-party">
                            Geek Party
                        </a>
                        <a class="navbar-item" href="../../activites/game-jam">
                            Game Jam
                        </a>
                        <a class="navbar-item" href="../../activites/karwa">
                            KARWa
                        </a>
                        <a class="navbar-item" href="../../activites/space-day">
                            Space Day
                        </a>
                    </div>
                </div>
    
                <div class="navbar-item has-dropdown is-hoverable has-text-weight-semibold">
                    <span class="navbar-link is-arrowless is-uppercase">
                        Services
                    </span>
            
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/services/permanences">
                            Permanences
                        </a>
                        <a class="navbar-item" href="/services/location-informatique">
                            Location informatique
                        </a>
                        <a class="navbar-item" href="/services/hebergement">
                            Hébergement web
                    </div>
                </div>
    
                <a class="navbar-item has-text-weight-semibold is-uppercase" href="/nous-contacter">
                    Nous contacter
                </a>
            </div>
        </div>
    </div>
</nav>