<script>
    import { dates, places } from "../../../variables.json";
</script>


<section class="content">

     <div class="is-flex is-justify-content-center">
        <img class="is-3by2 w50pc" src="/24-heures.webp" alt="24 heures">
    </div> 

    <h1>24 heures vélo</h1>

    <p><b>Prochaine date :</b> {dates["24h_velo"]}</p>

    <p><b>Localisation : </b> {places["24h_velo"]}</p>

    <p>Pendant les <a href="https://24heureslln.be/">24h vélo de Louvain-la-Neuve</a>, organisée par le CSE Animation, vous 
        aurez l'occasion de voir passer notre maginifique vélo folklorique. N'hésitez pas à voter pour nous ou à nous encourager 
        pendant notre bar !</p>
</section>

<style>
    .w50pc {
        width: 50%;
    }
</style>
