<section class="content">
    <h1>Fiches-Info</h1>
    <p>
        Nous vous proposons ci-dessus un ensemble de fiches rassemblant des informations sur divers sujets en rapport avec le projet de notre kot.
        Pour n'en citer que quelques une, vous trouverez des fiches présentant des alternatives libres pour de nombreux logiciels permettant entre autre de : travailler efficacement en groupe, faire de la correction orthographique, éditer des textes de façon professionnel, ...
    </p>
    <p>
        Les liens ci-dessous vus permettent de télécharger les diverses fiches :
    </p>
    <ol>
        <li><a href="https://gitlab.com/louvainlinux/fiches-info/-/raw/master/1-Logiciels_Libres.pdf">Fiche-Info :  Linux et les logiciels libres</a></li>
        <li><a href="https://gitlab.com/louvainlinux/fiches-info/-/raw/master/2-Linux.pdf">Fiche-Info : Les logiciels libres</a></li>
        <li><a href="https://gitlab.com/louvainlinux/fiches-info/-/raw/master/3-Collaboration_projets_libres.pdf">Fiche-Info : Le travail collaboratif</a></li>
        <li><a href="https://gitlab.com/louvainlinux/fiches-info/-/raw/master/4-Faire_de_largent_avec_le_libre.pdf">Fiche-Info : Faire de l'argent avec le libre</a></li>
        <li><a href="https://gitlab.com/louvainlinux/fiches-info/-/raw/master/3-Au_dela_des_logiciels.pdf">Fiche-Info : Au delà des logiciels</a></li>
        <li><a href="https://gitlab.com/louvainlinux/fiches-info/-/raw/master/6-LaTeX.pdf">Fiche-Info : Latex</a></li>
        <li><a href="https://gitlab.com/louvainlinux/fiches-info/-/raw/master/7-Open_Source_Hardware.pdf">Fiche-Info : Open Source hardware</a></li>
        <li><a href="https://gitlab.com/louvainlinux/fiches-info/-/raw/master/8-Obsolescence_Programee.pdf">Fiche-Info : Obsolescence programmée</a></li>
        <li><a href="https://gitlab.com/louvainlinux/fiches-info/-/raw/master/9-Correcteur_Orthographique.pdf">Fiche-Info : Correcteur orthographique libre</a></li>
        <li><a href="https://gitlab.com/louvainlinux/fiches-info/-/raw/master/10-Libre_et_droits_dauteur.pdf">Fiche-Info : Libre et droits d'auteur</a></li>
        <li><a href="https://gitlab.com/louvainlinux/fiches-info/-/raw/master/11-Libre.pdf">Fiche-Info : Libre</a></li>
        <li><a href="https://gitlab.com/louvainlinux/fiches-info/-/raw/master/12-Art-libre.pdf">Fiche-Info : L'Art libre</a></li>
        <li><a href="https://gitlab.com/louvainlinux/fiches-info/-/raw/master/13-Remuneration.pdf">Fiche-Info : Rémunération</a></li>
        <li><a href="https://gitlab.com/louvainlinux/fiches-info/-/raw/master/14-Linux.pdf">Fiche-Info : Linux</a></li>
        <li><a href="https://gitlab.com/louvainlinux/fiches-info/-/raw/master/15-Neutralite_du_net.pdf">Fiche-Info : Neutralité du net</a></li>
        <li><a href="https://gitlab.com/louvainlinux/fiches-info/-/raw/master/16-Wikipedia.pdf">Fiche-Info : Wikipédia</a></li>
        <li><a href="https://gitlab.com/louvainlinux/fiches-info/-/raw/master/17-Framasoft.pdf">Fiche-Info : Framasoft</a></li>
    </ol>
</section>